extends ./base/layout

block content

  div
    ul(class="nav nav-tabs", role="tablist")
      li(role="presentation", class="tab-pane active")
        a(href="#usuarios", aria-controls="usuarios", role="tab", data-toggle="tab") Usu치rios
      li(role="presentation", class="tab-pane")
        a(href="#empresas" aria-controls="empresas" role="tab" data-toggle="tab") Empresas
      li(role="presentation", class="tab-pane")
        a(href="#produtos" aria-controls="produtos" role="tab" data-toggle="tab") Produtos

    div(class="tab-content")
      div(role="tabpanel", class="tab-pane fade in active", id="usuarios")
        div(class="page-header" style="margin-top:0px")
          h3(style="margin-bottom:0px")
            img(src="./img/users.png")
            |   Gerenciamento de Usu치rios

        div(id="alertaGeral")
        div(style="display: flex")
          div(id="divScroll", style="overflow-y: auto; height: 410px; width: 580px; margin-top:10px;")
            #lista_usuarios
              include ./usuarios/lista-usuarios
          div(id="divCadastroUsuario", style="flex-grow: 1; margin-left: 20px; white-space: nowrap")
            div(class="page-header" style="margin-top:0px; margin-bottom:25px")
              h3(style="margin-bottom:0px") Dados do usu치rio
            div(id="alertaAcoesUsuario")
            form(id="formUsuario", method="post")
              input(type="hidden", id="txtId", name="id")
              div(class="form-group", style="margin-bottom: 25px")
                label(for="txtNome") Nome:
                input(type="text", id="txtNome", name="nome", class="form-control", disabled="disabled")
              div(class="form-group", style="margin-bottom: 25px")
                label(for="txtSobrenome") Sobremome:
                input(type="text", id="txtSobrenome", name="sobrenome", class="form-control", disabled="disabled")
              div(class="form-group", style="margin-bottom: 25px")
                label(for="txtEmail") E-mail:
                input(type="text", id="txtEmail", name="email", class="form-control", disabled="disabled")
              div(class="form-group", style="margin-bottom: 25px")
                label(for="txtTelefone") Telefone:
                input(type="text", id="txtTelefone", name="telefone", class="form-control sp_celphones", style="width: 140px", disabled="disabled")
            div(style="width: 100%; text-align: right")
              button(type="button", id="btnNovoUsuario", class="btn btn-default", style="margin-right: 15px")
                span(class="glyphicon glyphicon-user") &nbsp;
                span(style="font-family: Helvetica, Tahoma") Novo usu치rio
              button(type="button", id="btnEditarUsuario", class="btn btn-default", style="margin-right: 15px; display: none")
                span(class="glyphicon glyphicon-edit") &nbsp;
                span(style="font-family: Helvetica, Tahoma") Editar
              button(type="button", id="btnSalvarUsuario", class="btn btn-default", style="margin-right: 15px; display: none")
                span(class="glyphicon glyphicon-check") &nbsp;
                span(style="font-family: Helvetica, Tahoma") Salvar
              button(type="button", id="btnCancelarNovoUsuario", class="btn btn-default", style="margin-right: 15px; display: none")
                span(class="glyphicon glyphicon glyphicon-remove") &nbsp;
                span(style="font-family: Helvetica, Tahoma") Cancelar
              button(type="button", id="btnCancelarEditarUsuario", class="btn btn-default", style="margin-right: 15px; display: none")
                span(class="glyphicon glyphicon glyphicon-remove") &nbsp;
                span(style="font-family: Helvetica, Tahoma") Cancelar
              button(type="button", id="btnExcluirUsuario", class="btn btn-default", style="display: none")
                span(class="glyphicon glyphicon-trash") &nbsp;
                span(style="font-family: Helvetica, Tahoma") Excluir
      div(role="tabpanel", class="tab-pane fade", id="empresas")
        p
          | Empresas
      div(role="tabpanel", class="tab-pane fade", id="produtos")
        p
          | Produtos