doctype html
html
  head
   title= "Estudo Node.js - " + titulo
   link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
   link(rel='stylesheet', href='/stylesheets/style.css')
   link(href='http://necolas.github.io/normalize.css/+Sans:300,400,600,700,800', rel='stylesheet', type='text/css')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
   body
    h1#maintitle IBM Estudo Node
    block content