body {
  padding: 2em; /* 24px */
  font: 1.6em "Lucida Grande", Helvetica, Arial, sans-serif; /* 14px */
}

a {
  color: #00B7FF;
}

#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 1em; /* 12px */
	background: #fff;
	margin: 3.75em; /* 45px */
	width: 40em; /* 480px */
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 1em; /* 12px */
	font-weight: normal;
	color: #039;
	padding: 0.8333em 0.666em; /* 10px 8px */
	border-bottom: 0.1em solid #6678b1; /* 2px */
}
#hor-minimalist-a td
{
	color: #669;
	padding: 0.45em 0.666em 0em 0.666em; /* 9px 8px 0px 8px */
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
}


#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 1em; /* 12px */
	background: #fff;
	margin: 3.75em; /* 45px */
	width: 40em; /* 480px */
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 1.6em; /* 14px */
	font-weight: normal;
	color: #039;
	padding: 0.8333em 0.666em; /* 10px 8px */
	border-bottom: 0.1666em solid #6678b1; /* 2px */
}
#hor-minimalist-b td
{
	border-bottom: 0.0625em solid #ccc; /* 1px */
	color: #669;
	padding: 0.3em 0.666em; /* 6px 8px */
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}


#ver-minimalist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 1em; /* 12px */
	margin: 3.75em; /* 45px */
	width: 40em; /* 480px */
	text-align: left;
	border-collapse: collapse;
}
#ver-minimalist th
{
	padding: 0.666em 0.1666em; /* 8px 2px */
	font-weight: normal;
	font-size: 1.6em; /* 14px */
	border-bottom: 0.1666em solid #6678b1; /* 2px */
	border-right: 1.875em solid #fff; /* 30px */
	border-left: 1.875em solid #fff; /* 30px */
	color: #039;
}
#ver-minimalist td
{
	padding: 1em 0.1666em 0em 0.1666em; /* 12px 2px 0px 2px */
	border-right: 1.875em solid #fff; /* 30px */
	border-left: 1.875em solid #fff; /* 30px */
	color: #669;
}